
//process.container = 'nextflow/rnaseq-nf'

//resume = true // -resume

// nextflow.enable.dsl = 2 // -dsl2


profiles {

    standard {
        process.executor = 'local'
	docker.enabled = false
    }

    dock {
        process.executor = 'local'
	docker.runOptions = '-u $(id -u):$(id -g)'
	docker.enabled = true  // -with-docker
    }
}

params.aligner = "kalisto"
params.dir     = "$baseDir/data"
params.genome  = "Homo_sapiens/NCBI/GRCh38"
params.transcriptome = ""
